<header><h1 class="h2">MOTHAFUCKIN CUSTOMER SEEEEAAAARCH!</h1></header>
<a href="/">run away</a>

<section class="search-form">
	<form>
		<label for= "search.keywords", class= "sr-only" >Keywords</label>
		<input type="text"
				name="keywords"
				class="form-control input-lg"
				placeholder="First Name, Last Name, or Email Address"
				ng-change="search(keywords)"
				ng-model="keywords">
	</form>
</section>

<section class="search-results" ng-if="customers.length > 0">
	<header><h1 class="h3">MUHFUGN RESULTS BIIIITCH</h1></header>
	<nav>
		<ul class="pager">
			<li class="previous">
				<a href="" ng-click="previousPage()">&larr; Prev</a>
			</li>
			<li class="next">
				<a href="" ng-click="nextPage()">Next &rarr;</a>
			</li>
		</ul>
	</nav>
	<ol class="list-group">
		<li class="list-group-item clearfix" ng-repeat="customer in customers">
			<h3 class="pull-right"><small class="text-uppercase">Jumped In </small>{{ customer.created_at | date }}</h3>
			<h2 class="h3"> {{ customer.first_name }} {{ customer.last_name }} <small> {{customer.username}} </small></h2>
			<div class="pull-right">
				<button class="btn btn-small btn-primary" ng-click="viewDetails(customer)">Peep the Deets</button>
			</div>
			<h4> {{customer.email}} </h4>
		</li>
	</ol>
	<nav>
		<ul class="pager">
			<li class="previous">
				<a href="" ng-click="previousPage()">&larr; Prev</a>
			</li>
			<li class="next">
				<a href="" ng-click="nextPage()">Next &rarr;</a>
			</li>
		</ul>
	</nav>
</section>
